<% layout('layouts/boilerplate')%>    
        <div class="row">
            <h1 class="text-center">Edit Campground</h1>
            <div class="col-6 offset-3">
                <form action="/stores/<%=store._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" name="store[title]" 
                        value="<%=store.title %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" name="store[location]" value="<%=store.location %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image">Image Url</label>
                        <input class="form-control" type="text" id="location" name="store[image]" value="<%=store.image %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="store[description]" required><%= store.description%></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                    <button class="btn btn-info">Update Store</button>
                </div>
                </form>
                <a href="/stores/<%=store._id%>">Back to store</a>
            </div>
        </div>
        